* {
  box-sizing: border-box;
}

.quatity_plus {
  display: inline-block;
  font-size: 2em;
  color: rgb(245, 197, 14);
}

.quatity_minus {
  display: inline-block;
  font-size: 2em;
  color: rgb(245, 197, 14);
}

.refrigerator_logo {
  margin: 0.5em 0.5em 0 1em;
  font-size: 2em;
  color: orange;
}

.freezer_logo {
  margin: 0.5em 0.5em 0 1em;
  font-size: 2em;
  color: orange;
}

.roomTemperature_logo {
  margin: 0.5em 0.5em 0 1em;
  font-size: 2em;
  color: orange;
}
