.container {
  margin: 1.5em auto;
  padding-top: 0.3em;
  border: 0.1em solid black;
  width: 97%;
  height: 4em;
  border-radius: 0.6em;
  background-color: white;
}

.category {
  position: absolute;
  left: 3em;
  font-size: 2em;
}

.image {
  position: absolute;
  left: 20em;
  width: 3em;
  height: 3em;
}

.Product_name {
  position: absolute;
  left: 16em;
  font-size: 2em;
}

.quantity {
  position: absolute;
  left: 30em;
  font-size: 2em;
}

.expiration_date {
  position: absolute;
  left: 40em;
  font-size: 2em;
}

.delete {
  position: absolute;
  right: 10em;
  border: none;
  background-color: white;
}
