.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.488);
}
.modalBox{
    width: 25em;
    height: 34em;
    background-color: white;
    border-radius: 1em;
    padding: 2em;;
    margin-bottom: 2em;
}
.title{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 1.8em;
}
.text{
    font-size:1em;
    margin-bottom: 2.5em;
}
.singoutBtn{
    width:8em;
    height: 2.5em;
    font-size: 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.2em;
    margin-top: 1.5em;
}
.closeBtn{
    width:8em;
    height: 2.5em;
    font-size: 1em;
    background-color: black;
    border: 1px solid black;
    border-radius: 0.2em;
    margin-left: 1em;
    color:white;
}