.container {
  border: 3px solid black;
  border-radius: 15px;
  height: 60em;
  margin-left: 1em;
  margin-right: 1em;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 0.4em;
  border-radius: 8px;
  -webkit-box-shadow: 5px 7px 5px 2px rgba(0, 0, 0, 0.22);
  box-shadow: 5px 7px 5px 2px rgba(0, 0, 0, 0.22);
}
.innerBox {
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.icon {
  width: 2.5em;
  height: 2.5em;
  /* color:#FFCC19; */
  margin-left: 1em;
  margin-right: 1em;
}
.alarmText {
  font-size: 1.2em;
}
.dateText {
  font-size: 1em;
  color: gray;
  margin-right: 2em;
}
