* {
  box-sizing: border-box;
}

.container {
  margin: 3.5em auto;
  border: 0.1em solid black;
  width: 25em;
  height: 40em;
  border-radius: 0.5em;
}

.logo {
  padding: 2.5em 0 1.2em 2.6em;
}

.email {
  margin: 1em auto;
  display: block;
  width: 23em;
  height: 4em;
  border: 0.2em solid rgb(191, 191, 191);
  border-radius: 10em;
}

.password {
  margin: 1em auto;
  display: block;
  width: 23em;
  height: 4em;
  border: 0.2em solid rgb(191, 191, 191);
  border-radius: 10em;
}

.login {
  margin: 0.5em auto;
  display: block;
  width: 13.5em;
  height: 2.5em;
  border: none;
  font-size: 1.4em;
  font-weight: 900;
  border-radius: 10em;
  background-color: rgb(245, 197, 14);
  color: white;
}

button:hover {
  cursor: pointer;
  /* background-color: rgb(194, 168, 66); */
}

.kakao {
  /* margin: 2em 3em; */
  margin-left: 3.4em;
  margin-right: 2em;
  display: inline-block;
  width: 8em;
  height: 2.5em;
  border: none;
  font-size: 1em;
  font-weight: 900;
  border-radius: 10em;
  background-color: rgb(246, 225, 2);
  color: white;
}

.google {
  /* margin: 0.5em auto; */
  display: inline-block;
  width: 8em;
  height: 2.5em;
  border: none;
  font-size: 1em;
  font-weight: 900;
  border-radius: 10em;
  background-color: rgb(74, 134, 245);
  color: white;
}

.message {
  display: block;
  text-align: center;
  color: red;
  margin-top: 1em;
  font-size: 0.8em;
}

.membership {
  padding: 3em 0 0 4.5em;
}

.membership_btn {
  display: block;
  margin: 0.2em auto;
  display: block;
  width: 13.5em;
  height: 2.5em;
  border: none;
  font-size: 1.4em;
  font-weight: 900;
  border-radius: 10em;
  background-color: rgb(245, 197, 14);
  color: white;
}
