* {
  box-sizing: border-box;
}
.container {
  /* border: 1px solid black; */
  /* display: flex;
    justify-content: space-between; */
  /* text-align: center; */
  height: 60em;
  align-items: center;
  background-color: #faee5a;
}
.inside {
  display: flex;
  justify-content: center;
}
.textBox {
  width: 40em;
  text-align: center;
}
.title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.7em;
  margin-top: 0;
}
.subtitle {
  font-size: 1.7em;
  margin-top: 1.4em;
}
.apple {
  margin-left: 3em;
  margin-top: 3em;
  width: 4.5em;
  height: 4.5em;
}
.meat {
  margin-left: 85em;
  margin-top: 2em;
  width: 4em;
  height: 4em;
}
.banana {
  width: 5.5em;
  height: 5.5em;
}
.avocado {
  width: 4.5em;
  height: 4.5em;
  margin-left: 8em;
}
.refrigerator {
  width: 30em;
  height: 30em;
}
.milk {
  margin-top: 18em;
  width: 4em;
  height: 4em;
}
.cheese {
  width: 4em;
  height: 4em;
  margin-left: 40em;
}
