.container{
    border-radius: 15px;
    height: 60em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    padding-top: 5em;
    box-sizing: border-box;
}
.box{
    margin: 0 auto;
    padding-bottom: 1.5em;
    width: 20em;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}
.img{
    width:10em;
    height:10em;
    border-radius: 50%;
    /* border: 1px solid black; */
    margin:0 auto;
    margin-top: 3em;
    background-color:rgba(163, 163, 163, 0.493);
}
.nickname{
    font-size:1.5em;
    font-weight:bold;
}
.settingBtn{
    width:7em;
    height:2.2em;
    font-size:1em;
    margin-bottom:2em;
    background-color: rgb(245, 197, 14);
    border: none;
    border-radius: 5px;
}
.underline{
    width: 80%;
}
.toggleText{
    margin-top:1.3em;
    margin-bottom: 0.7em;
    font-size: 1.2em;
}
.leaveBtn{
    border: none;
    background-color: white;
    font-size: 1.2em;
    margin-top: 1.5em;
    font-weight: bold;
}
.modalBox{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
}