* {
  box-sizing: border-box;
}

.container {
  margin: 10em auto;
  border: 0.1em solid black;
  width: 25em;
  height: 40em;
  border-radius: 0.5em;
}

.logo {
  padding: 2.5em 0 1.2em 0.5em;
}

.imageUpLoad {
  display: block;
  margin: 0 1em;
  padding: 0.5em 5em;
  font-size: 1em;
  border: 0.15em solid rgb(191, 191, 191);
  border-radius: 0.6em;
  width: 22.8em;
  height: 3em;
}

.imageUpLoad_text {
  margin: 1em 0 0 5.2em;
}

#storageSelect {
  margin: 1em;
  width: 8.3em;
  height: 2em;
  font-size: 1.2em;
  font-weight: 700;
  text-align-last: center;
  border: none;
  border-radius: 0.6em;
  background-color: rgb(245, 197, 14);
}

#category {
  margin: 1em;
  width: 8.3em;
  height: 2em;
  font-size: 1.2em;
  font-weight: 700;
  text-align-last: center;
  border: none;
  border-radius: 0.6em;
  background-color: rgb(245, 197, 14);
}

.productName {
  display: inline-block;
  margin: 2em 0 2em 1em;
  width: 15.5em;
  height: 3em;
  border: 0.2em solid rgb(191, 191, 191);
  border-radius: 0.6em;
}

.quatity_container {
  display: flexbox;
  align-items: center;
  margin: 1em;
}

.quatity {
  display: inline-block;
  margin: 0 0.3em 0 0.3em;
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid rgb(191, 191, 191);
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 0.3em;
  text-align: center;
}

.quatity_plus_btn {
  display: inline;
  border: none;
  background-color: white;
}

.quatity_minus_btn {
  display: inline;
  border: none;
  background-color: white;
}

.expirationDate {
  display: block;
  margin: 1em 1.5em;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

.date {
  margin-left: 1.2em;
  font-size: 1.1em;
  border: 0.15em solid rgb(191, 191, 191);
  border-radius: 0.6em;
  width: 12em;
  height: 3em;
}

.registration {
  margin: 2em auto;
  display: block;
  width: 10em;
  height: 2em;
  border: none;
  font-size: 1.4em;
  font-weight: 900;
  border-radius: 0.5em;
  background-color: rgb(245, 197, 14);
}

button:hover {
  cursor: pointer;
  /* background-color: rgb(194, 168, 66); */
}
